@charset "UTF-8";
.c1 {
	color : #fffcf0;
}
.c2 {
	color :#dedcee;
}
.c3 {
	color:#6a60a9;
}
.c4 {
	color:#fbd14b;
}
.c5 {
	color:#f3ea4f;
}
.c6{
	color:#4b52ba;
}
.c7 {
	color:#34bec1;
}
.c9 {
	color:#9DC8C8;
}
.c10 {
	color:#D7FFF1;
}
.c100 {
	color:#ffffff;
}

.bc1 {
	background-color : #fffcf0;
}
.bc2 {
	background-color :#dedcee;
}
.bc3 {
	background-color:#6a60a9;
}
.bc4 {
	background-color:#fbd14b;
}
.bc5 {
	background-color:#f3ea4f;
}
.bc6 {
	background-color:#4b52ba;
}
.bc7 {
	background-color:#34bec1;
}
.bc8 {
	background-color:#49d9dc;
}
.bc9 {
	background-color:#9DC8C8;
}
.bc10 {
	background-color:#D7FFF1;
}